.search {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.search input{
    padding: 10px 20px;    
}

.search button{
    background-color: #fa6400;
    padding: 10px 50px;
    color: #fff;
    font-size: 16px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    border: 2px solid #fa6400;
    cursor: pointer;
}